/* Shared style section */
* {}

body {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}

/* Header style section */

.header {
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.banner-content {
    padding-bottom: 150px;
}

.banner-title {
    color: #272727;
    width: 708px;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;

}

.banner-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;

}

.btn-shop {
    border-radius: 8px;
    padding: 20px 43px;
    gap: 10px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

.banner-image {
    margin-left: 100px;
}

/* Featured Flower style section */

.featured-container {
    text-align: center;
}

.featured-flower-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-top: 174px;
    margin-bottom: 24px;
}

.featured-description {
    width: 594px;
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;

}

.flower-container {
    display: flex;
    justify-content: space-around;

}

#featured-flowers-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

#featured-flowers-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

#featured-flowers-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flowers-titles {
    display: flex;
    justify-content: space-around;
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Hot Deal style section */

.hot-deal-section {

    background: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    height: 850px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 128px;
}

.hot-deal-content {
    padding-bottom: 150px;
    text-align: center;
    align-items: center;
    margin-right: 186px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;

}

.hot-deal-description {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;

}

.btn-signup {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    width: 155px;
}

.hot-deal-image {
    padding-bottom: 120px;
}